aj-3==3.0.0
ajenti-3-panel==3.0.4
#ajenti-3.plugin.shell==0.1.0
#ajenti-3.plugin.dashboard==0.1.0
#ajenti-3.plugin.traffic==0.1.0
#ajenti-3.plugin.lmn_theme==0.1.0
#ajenti-3.plugin.fstab==0.1.0
#ajenti-3.plugin.session_list==0.1.0
configparser==3.5.0
cryptography>=41.0.0
dpath==2.0.6         # used for getSophomorixValue
gssapi==1.7.3
isc_dhcp_leases
krb5==0.3.0
paramiko==3.0.0
Pillow
pyspnego==0.5.2
python-ldap
python-dateutil
python-magic # used to determine encoding in linbo files and csv uploads
python-nmap
pytz
requests
reconfigure
scrypt
simplejson==3.17.0
smbprotocol==1.9.0
unicodecsv==0.14.1
xmltodict
